[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/AutoComplPop"]
	path = submodules/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "submodules/vim-bufexplorer"]
	path = submodules/vim-bufexplorer
	url = git://github.com/thisivan/vim-bufexplorer.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "submodules/genutils"]
	path = submodules/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "submodules/vim-rails"]
	path = submodules/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "submodules/syntastic"]
	path = submodules/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "submodules/vim-coffee-script"]
	path = submodules/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "submodules/taglist"]
	path = submodules/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "submodules/ctrlp"]
	path = submodules/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "submodules/nerdcommenter"]
	path = submodules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
