[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/AutoComplPop"]
	path = submodules/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "submodules/vim-bufexplorer"]
	path = submodules/vim-bufexplorer
	url = git://github.com/thisivan/vim-bufexplorer.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
